h1 {
    color: red;
    text-align: center;
}

#orange {
    color: orange;
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-style: inherit;
}

li {
    font-style: oblique
}

img {
  height: 200px;
  width: 300px;
}
